create database soft_dinner_ultimate_omega
GO
use soft_dinner_ultimate_omega

CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_orden]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_orden](
	[id_detalle_orden] [int] NOT NULL,
	[id_orden] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [decimal](10, 2) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_mesa]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_mesa](
	[id_estado_mesa] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_mesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_orden]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_orden](
	[id_estado_orden] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gasto]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gasto](
	[id_gasto] [int] NOT NULL,
	[id_tipo_gasto] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_final] [date] NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mesa]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mesa](
	[id_mesa] [int] NOT NULL,
	[numero_mesa] [int] NOT NULL,
	[ocupada] [bit] NOT NULL,
	[id_estado_mesa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mesa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metodo_pago]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metodo_pago](
	[id_metodo_pago] [int] NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orden]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orden](
	[id_orden] [int] NOT NULL,
	[id_mesa] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[id_estado_orden] [int] NOT NULL,
	[id_metodo_pago] [int] NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_orden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [varchar](150) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_gasto]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_gasto](
	[id_tipo_gasto] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_gasto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 30/05/2026 01:46:37 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido_primero] [varchar](100) NOT NULL,
	[apellido_segundo] [varchar](100) NULL,
	[correo] [varchar](255) NOT NULL,
	[contrasenia] [varchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre]) VALUES (1, N'bebida')
INSERT [dbo].[categoria] ([id_categoria], [nombre]) VALUES (2, N'platillo')
INSERT [dbo].[categoria] ([id_categoria], [nombre]) VALUES (3, N'cerveza')
GO
INSERT [dbo].[detalle_orden] ([id_detalle_orden], [id_orden], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (1, 1, 1, CAST(2.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(12, 2)))
INSERT [dbo].[detalle_orden] ([id_detalle_orden], [id_orden], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (2, 1, 2, CAST(1.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(12, 2)))
INSERT [dbo].[detalle_orden] ([id_detalle_orden], [id_orden], [id_producto], [cantidad], [precio_unitario], [subtotal]) VALUES (3, 2, 3, CAST(4.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(12, 2)))
GO
INSERT [dbo].[estado_mesa] ([id_estado_mesa], [nombre]) VALUES (1, N'sin ordenar')
INSERT [dbo].[estado_mesa] ([id_estado_mesa], [nombre]) VALUES (2, N'orden realizada')
INSERT [dbo].[estado_mesa] ([id_estado_mesa], [nombre]) VALUES (3, N'orden recibida')
GO
INSERT [dbo].[estado_orden] ([id_estado_orden], [nombre]) VALUES (1, N'pendiente')
INSERT [dbo].[estado_orden] ([id_estado_orden], [nombre]) VALUES (2, N'en preparacion')
INSERT [dbo].[estado_orden] ([id_estado_orden], [nombre]) VALUES (3, N'entregada')
GO
INSERT [dbo].[gasto] ([id_gasto], [id_tipo_gasto], [id_usuario], [fecha_inicio], [fecha_final], [monto], [descripcion]) VALUES (1, 1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), CAST(4000.00 AS Decimal(12, 2)), N'cfe pago luz')
INSERT [dbo].[gasto] ([id_gasto], [id_tipo_gasto], [id_usuario], [fecha_inicio], [fecha_final], [monto], [descripcion]) VALUES (2, 2, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), CAST(3000.00 AS Decimal(12, 2)), N'pago a conagua')
INSERT [dbo].[gasto] ([id_gasto], [id_tipo_gasto], [id_usuario], [fecha_inicio], [fecha_final], [monto], [descripcion]) VALUES (3, 3, 3, CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), CAST(15000.00 AS Decimal(12, 2)), N'pago de nomina a empleados')
GO
INSERT [dbo].[mesa] ([id_mesa], [numero_mesa], [ocupada], [id_estado_mesa]) VALUES (1, 1, 0, 1)
INSERT [dbo].[mesa] ([id_mesa], [numero_mesa], [ocupada], [id_estado_mesa]) VALUES (2, 2, 0, 1)
INSERT [dbo].[mesa] ([id_mesa], [numero_mesa], [ocupada], [id_estado_mesa]) VALUES (3, 3, 0, 1)
GO
INSERT [dbo].[metodo_pago] ([id_metodo_pago], [nombre]) VALUES (1, N'efectivo')
INSERT [dbo].[metodo_pago] ([id_metodo_pago], [nombre]) VALUES (2, N'tarjeta')
INSERT [dbo].[metodo_pago] ([id_metodo_pago], [nombre]) VALUES (3, N'transferencia')
GO
INSERT [dbo].[orden] ([id_orden], [id_mesa], [id_usuario], [id_estado_orden], [id_metodo_pago], [total], [fecha]) VALUES (1, 1, 1, 3, 1, CAST(2222.00 AS Decimal(12, 2)), CAST(N'2026-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[orden] ([id_orden], [id_mesa], [id_usuario], [id_estado_orden], [id_metodo_pago], [total], [fecha]) VALUES (2, 2, 2, 3, 2, CAST(4856.00 AS Decimal(12, 2)), CAST(N'2026-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[orden] ([id_orden], [id_mesa], [id_usuario], [id_estado_orden], [id_metodo_pago], [total], [fecha]) VALUES (3, 3, 3, 3, 3, CAST(1456.00 AS Decimal(12, 2)), CAST(N'2026-01-01T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [id_categoria], [precio], [descripcion]) VALUES (1, N'coca cola', 1, CAST(25.00 AS Decimal(10, 2)), N'coca cola 600ml')
INSERT [dbo].[producto] ([id_producto], [nombre], [id_categoria], [precio], [descripcion]) VALUES (2, N'hamburgueza', 2, CAST(100.00 AS Decimal(10, 2)), N'bbq')
INSERT [dbo].[producto] ([id_producto], [nombre], [id_categoria], [precio], [descripcion]) VALUES (3, N'modelo', 3, CAST(25.00 AS Decimal(10, 2)), N'cerveza modelo 255ml')
GO
INSERT [dbo].[tipo_gasto] ([id_tipo_gasto], [nombre], [descripcion]) VALUES (1, N'luz', N'gasto normlamnete mensual en electricidad')
INSERT [dbo].[tipo_gasto] ([id_tipo_gasto], [nombre], [descripcion]) VALUES (2, N'agua', N'gasto por servicio de agua potable')
INSERT [dbo].[tipo_gasto] ([id_tipo_gasto], [nombre], [descripcion]) VALUES (3, N'salarios', N'gasto por pago de nomina a trabajadores')
GO
INSERT [dbo].[usuario] ([id_usuario], [nombre], [apellido_primero], [apellido_segundo], [correo], [contrasenia], [activo]) VALUES (1, N'vidal', N'verdugo', N'arredondo', N'vidal@gmail.com', N'123456', 0)
INSERT [dbo].[usuario] ([id_usuario], [nombre], [apellido_primero], [apellido_segundo], [correo], [contrasenia], [activo]) VALUES (2, N'maria', N'lam', N'zat', N'maria@hotmail.com', N'147896356', 0)
INSERT [dbo].[usuario] ([id_usuario], [nombre], [apellido_primero], [apellido_segundo], [correo], [contrasenia], [activo]) VALUES (3, N'danie;', N'orrantia', NULL, N'daniel@gmail.com', N'hhbbhjj', 1)
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD  CONSTRAINT [fk_detalle_orden_orden] FOREIGN KEY([id_orden])
REFERENCES [dbo].[orden] ([id_orden])
GO
ALTER TABLE [dbo].[detalle_orden] CHECK CONSTRAINT [fk_detalle_orden_orden]
GO
ALTER TABLE [dbo].[detalle_orden]  WITH CHECK ADD  CONSTRAINT [fk_detalle_orden_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle_orden] CHECK CONSTRAINT [fk_detalle_orden_producto]
GO
ALTER TABLE [dbo].[gasto]  WITH CHECK ADD  CONSTRAINT [fk_gasto_tipo_gasto] FOREIGN KEY([id_tipo_gasto])
REFERENCES [dbo].[tipo_gasto] ([id_tipo_gasto])
GO
ALTER TABLE [dbo].[gasto] CHECK CONSTRAINT [fk_gasto_tipo_gasto]
GO
ALTER TABLE [dbo].[gasto]  WITH CHECK ADD  CONSTRAINT [fk_gasto_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[gasto] CHECK CONSTRAINT [fk_gasto_usuario]
GO
ALTER TABLE [dbo].[mesa]  WITH CHECK ADD  CONSTRAINT [fk_mesa_estado_mesa] FOREIGN KEY([id_estado_mesa])
REFERENCES [dbo].[estado_mesa] ([id_estado_mesa])
GO
ALTER TABLE [dbo].[mesa] CHECK CONSTRAINT [fk_mesa_estado_mesa]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [fk_orden_estado_orden] FOREIGN KEY([id_estado_orden])
REFERENCES [dbo].[estado_orden] ([id_estado_orden])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [fk_orden_estado_orden]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [fk_orden_mesa] FOREIGN KEY([id_mesa])
REFERENCES [dbo].[mesa] ([id_mesa])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [fk_orden_mesa]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [fk_orden_metodo_pago] FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[metodo_pago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [fk_orden_metodo_pago]
GO
ALTER TABLE [dbo].[orden]  WITH CHECK ADD  CONSTRAINT [fk_orden_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[orden] CHECK CONSTRAINT [fk_orden_usuario]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [fk_producto_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [fk_producto_categoria]
GO
USE [master]
GO
